

    <section class="hero py-5" >
        <div class="container mx-auto flex items-center justify-between">
             <div class="w-1/2 px-2 md:px-5 lg:px-20">
                <h6 class="text-lg"> <em> Get Fresh Veggies Delivered To Your Home</em></h6>
                <h1 class="text-3xl md:text-6xl font-bold">
                    Don't Wait !!
                </h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary" ><a href="/">Order Now</a></button>
                
            </div>
                <div class="w-1/2">
                    <img src="/img/hero1.jpg" alt="hero"  class="px-5 rounded-full" height="100" >
                </div>
        </div>
    </section>
    <section class="menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8 ml-20">
          Latest
        </h1> 
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-12 gap-x-16 ">
        <% grocery.forEach(function(grocery){ %>
          <div class="w-full md:60">
            
            <img class="h-40 mb-4 mx-auto "
            src="/img/<%=grocery.image%>" alt=""> 
             <div class="text-center">
                 <h2 class="mb-4 text-lg"><%= grocery.name%></h2>
                 <span class="size py-1 px-4 rounded-full uppercase text-xs "><%= grocery.size%></span>
                 <div class="flex-items-center justify-around mt-6 "></div>
<!-- // 'size ' and 'quantity' are same in database -->
                 <div class="mb-4 " >
                     <span class="font-bold text-lg px-10">₹<%= grocery.price%></span>
                     <button data-grocery="<%=JSON.stringify(grocery)%>" class="add-to-cart py-1 px-6 rounded-full flex-items-center font-bold">
                         <span>+</span>
                         <span class="ml-4 ">Add</span>
                     </button>
                 </div>
             </div>
          </div>
         
    <%}) %>

         

         
          
          
         
        
         
    </div>
</section>
