<section class="cart py-16">
    <%if(session.cart){%>
    <div class=" order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4"> 
            <img src="/img/img10.png
            " alt="" class="w-10 h-10">
            <h1 class="font-bold text-2xl ml-4">Order Summary</h1>
        </div>
        <div class="item-list">
            <%for(let grocery of Object.values(session.cart.items)){%>
     <div class="flex items-center my-8">
         <img src="/img/<%= grocery.item.image%>" alt="" class="w-24">
         <div class="flex-1 ml-4">
            <h1><%= grocery.item.name%></h1>
            <span >
                <%= grocery.item.size%>
            </span>
        </div>
        <span class="flex-1">
            <%= grocery.qty%>pcs
        </span>
        <span class="font-bold text-lg">₹<%= grocery.item.price * grocery.qty%></span>
     </div>
 <%} %>
     
     
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg ">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice%></span>
            </div>

            <% if(user){ %>

            <div>
                <form  action="/orders" method="POST" class="mt-2">
                    <input name="phone" type="text" placeholder="Phone Number" class="border border-gray-400  mb-3 p-2 w-1/2">
                    <input name="address" type="text" placeholder="Address" class="border border-gray-400  p-2 w-1/2">
                <div> 
                    <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit"> Order Now</button>
                </div>
                </form>
            </div>

            <% } else {%>

           <a href="/login" class="inline-block cursor pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login to continue</a>
        </div>

        <% } %>
        
    </div>

    <%} else{%>

    <div class="empty-cart" > <div class="container mx-auto text-center">
        <h1 class="text-3xl font-boldmb-2 py-10"> Cart is Empty ☹️</h1>
        <p class="text-gray-500 text-lg ">
            You haven't ordered anything yet.....  <br>
            Order now to enjoy fresh and fast delivery 😍
        </p>
        <img src="/img/img9.png" alt="Cart Empty" class="mx-auto mb-4" height="300" width="500">
        <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold ">Back</a>
    
    </div>
</div>
<%} %>
</section>